body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    justify-content: center;
}

.loading {
    position: absolute;
    background-color: rgb(0 0 0 / 51%);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.form-card {
    width: 500px;
}

@media only screen and (max-width: 550px) {
    .form-card {
        width: 300px;
    }
}

@media only screen and (max-width: 350px) {
    .form-card {
        width: 200px;
    }
}